<section class="sidebar bg-white p-2.5 lg:p-5 relative h-dvh lg:w-52 shadow-md shadow-gray-400 w-16">
    <h3 class="relative text-center font-bold
    after:content-[''] after:hidden after:lg:block after:bg-black after:w-20 after:h-0.5 after:absolute after:-bottom-5 after:left-1/2 after:-translate-x-1/2
    before:content-[''] before:hidden before:lg:block before:bg-black before:w-5 before:h-5 before:absolute before:rounded-full before:-bottom-7  
    before:right-1/2 before:border-solid before:border-4 before:border-white before:translate-x-2/4 before:z-10"
    >Logo</h3>
    <ul class="p-0 pt-10 list-none">
        <li class="  ">
            <a routerLink="dashboard" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition bg-gray-200  p-2.5 mb-1 rounded-md " >
                <i class="fa-regular fa-chart-bar mr-2"></i>
                <span class="text-sm hidden lg:block">Dashboard</span>
            </a>
        </li>
        <li class="  ">
            <a routerLink="setting" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-solid fa-gear mr-2"></i>
                <span class="text-sm hidden lg:block">Setting</span>
            </a>
        </li>
        <li class="  ">
            
            <a routerLink="profile" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-regular fa-user mr-2"></i>
                <span class="text-sm hidden lg:block">Profile</span>
            </a>
        </li>
        <li class="  ">
            
            <a routerLink="projects" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-solid fa-diagram-project mr-2"></i>
                <span class="text-sm hidden lg:block">Projects</span>
            </a>
        </li>
        <li class="  ">

            <a routerLink="courses" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-solid fa-graduation-cap mr-2"></i>
                <span class="text-sm hidden lg:block">Courses</span>
                
            </a>
        </li>
        <li class="  ">
            
            <a routerLink="friends" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-regular fa-circle-user mr-2"></i>
                <span class="text-sm hidden lg:block">Friends</span>
            </a>
        </li>
        <li class="">
            
            <a routerLink="files" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md ">
                <i class="fa-regular fa-file mr-2"></i>
                <span class="text-sm hidden lg:block">Files</span>
            </a>
        </li>
        <li class="  ">

            <a routerLink="plans" routerLinkActive="bg-slate-200 " 
            class="flex items-center  transition  p-2.5 mb-1 rounded-md">
                <i class="fa-regular fa-credit-card mr-2"></i>
                <span class="text-sm hidden lg:block">Plans</span>
            </a>
        </li>
    </ul>
</section>

