<nav class="navbar bg-white p-2 flex items-center justify-between">
    <div class="search relative ">
        <input type="text" placeholder="Type  Keyword " 
        class="p-1 rounded-xl border-solid border-2 border-[#ccc] ml-2 pl-8 w-40 transition  focus:w-52 ">
    </div>
    <div class="user-info flex items-center mr-2">
        <span class="notification relative">
            <i class="fa-regular fa-bell fa-lg mr-2"></i>
        </span>
        <div class="image w-8">
            <img src="./assets/imgs/avatar.png" class="size-full" alt="user img">
        </div>
        
    </div>
</nav>
