.search::before{
    content:"\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color:var(--grey-color) ;
    font-size: 14px;
}

.search input:focus::placeholder{
    opacity: 0;
}

.notification::before{
    content: "";
    background-color: red;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 4px;
    top: -4px;
}